
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat App</title>
  <!-- Bootstrap CSS importálása -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
  <style>
    .chat-container {
      width: 80%;
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <div class="container mt-5 chat-container">
    <div class="card">
      <div class="btn btn-primary card-header active">
        Chat Szoba
      </div>
      <div class="card-body">
        <div class="mb-3">
          <div #chatMessagesContainer id="chat-messages" class="border p-2" style="height: 300px; overflow-y: scroll;">
            <ul>
              <li *ngFor="let message of messages" class="mb-2">
                {{ message.username }} | {{ message.create_date.replace("T", " ").replace(".000Z", "") }}<br />
                {{ message.message }}
              </li>
            </ul>
          </div>
        </div>
        <div class="mb-3">
          <input type="text" [(ngModel)]="message" appSemicolonRestriction name="chatRoomInput" id="message-input" class="form-control" name="messageInput" [(ngModel)]="newMessage" placeholder="Írj egy üzenetet...">
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <form (ngSubmit)="sendMessage()">
            <button id="send-button" class="btn btn-primary" type="submit">Küldés</button>
          </form>
          <button class="btn btn-outline-success" (click)="privateMessagesButton()">Privát Üzenetek</button>
        </div>
      </div>
    </div>
  </div>



